<div class="center hero-unit">
  <h1><%= I18n.t('views.static_pages.title_home') %></h1>

  <h2>
    <%= I18n.t('views.static_pages.title_2_home') %>
  </h2>

  <%= link_to I18n.t('views.static_pages.signin_now_home'), signup_path, class: "btn btn-large btn-primary" %>
</div>

