<% provide(:title, I18n.t('views.users.title_new')) %>
<h1><%= I18n.t('views.users.title_new') %></h1>

<div class="row" >
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit I18n.t('views.users.create_account_new'), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
