<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to I18n.t('views.layouts.about'), about_path %></li>
      <li><%= link_to I18n.t('views.layouts.contact'), contact_path %></li>
    </ul>
  </nav>
</footer>
